<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>shked</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vk51581116</string>
			</array>
		</dict>
	</array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>vkauthorize-silent</string>
    </array>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Unbounded.ttf</string>
		<string>PT Root UI VF.ttf</string>
		<string>PT Mono Regular.ttf</string>
		<string>PT Mono Bold.ttf</string>
		<string>PT Sans Regular.ttf</string>
		<string>PT Sans Regular Italic.ttf</string>
		<string>PT Sans Bold.ttf</string>
		<string>PT Sans Bold Italic.ttf</string>
	</array>
</dict>
</plist>
